<div class="inputs">
    
    <div class="row">
        <div class="col-1-1">
            <app-label labelName="User ID:" labelFor="user-id"></app-label>
        </div>

        <div class="col-1-2">
            <input [(ngModel)]="userID" name="userID" class="user-id" type="text">
        </div>
    </div>

    <div class="row">        

        <div class="col-1-1">
            <app-label labelName="Room: " labelFor="room"></app-label>
        </div>

        <div class="col-1-2">
            <input [(ngModel)]="roomNumber" name="room" class="room" type="text">
        </div>

        <div class="col-1-3">
            <app-button-box></app-button-box>
        </div>
    </div>

    <div class="row">
        <div class="col-1-1">        
            <app-label labelName="Date Entered: " labelFor="date-entered"></app-label>
        </div>

        <div class="col-1-2">
            <input [(ngModel)]="dateEntered" type="date" name="date-entered" class="session-date">
        </div>
        
    </div>

    <div class="row">
        <div class="col-1-1">
            <app-label labelName="Time Entered:" labelFor="Time-left"></app-label>
        </div>

        <div class="col-1-2">
            <input [(ngModel)]="hourEntered" type="text" class="input time" ><span>:</span>
            <input [(ngModel)]="minutesEntered" type="text" class="input time" >
        </div>
    </div>

    <div class="row">
        <div class="col-1-1">
            <app-label labelName="Time Left: " labelFor="Time-left"></app-label>
        </div>

        <div class="col-1-2">
            <input [(ngModel)]="hourLeft" type="text" class="input time"> <span>:</span> <input [(ngModel)]="minutesLeft" type="text" class="input time">
        </div>
    </div>


    <div class="row">
        <div class="col-1-4">
            <app-btn-submit (click)="sessionEntered()"></app-btn-submit>
        </div> 
    </div>
</div>