<div style="display: flex; flex-direction: column; align-items: center;">
    
    <div style="align-items: center;">
        <app-label labelName="User ID:" labelFor="user-id"></app-label>
        <app-input-box inputName="user-id" class="user-id"></app-input-box>
    </div>

    <div style="align-items: center;">        
        <app-label labelName="Room: " labelFor="room"></app-label>
        <app-input-box inputName="room" class="room"></app-input-box>
        <app-button-box></app-button-box>
    </div>

    <div style="align-items: center;">        
        <app-label labelName="Date Left: " labelFor="date-entered"></app-label>
        <app-input-box inputName="date-left" class="date-entered"></app-input-box>
    </div>
</div>