<div class="inputs">
    <app-label class="col-left" labelName="User Id:" labelFor="userId"></app-label>
    <input class="col-mid user-id" [class.invalid]="errorDetails" [(ngModel)]="userId" name="userId" type="text" />

    <app-label class="col-left" labelName="Password:" labelFor="password"></app-label>
    <input class="col-mid password" [class.invalid]="errorDetails" [(ngModel)]="password" name="password" type="password" />

    <app-btn-submit class="col-mid" (click)="onSubmit()" name="Login"></app-btn-submit>

    <div class="col-mid alert" [class.hidden]="!errorDetails">Try again. Login details incorrect.</div>
</div>
