<header>

  <div class="container">

    <div class="logo">
        <h1 class="main-heading">DOD&GY EDUMACATION</h1>
        <p class="sub-heading">COVID-19 Contact Tracer</p>
    </div>

      <nav>
        <ul>
          <li><a routerLink="/time-entered" class="nav-link" href="#" >Time Entered</a></li>
          <li><a routerLink="/time-left" class="nav-link" href="#" >Time Left</a></li>
          <li><a routerLink="/reporting" class="nav-link" href="#" >Reporting</a></li>
        </ul>
      </nav>

  </div>

</header>

<app-label labelName="Test" labelFor="Test"></app-label>
<app-time-entered></app-time-entered>
<app-input-box></app-input-box>
<app-button-box></app-button-box>
<app-btn-submit></app-btn-submit>

<router-outlet></router-outlet>